{{!-- Componente: Listado vertical de artículos en columna derecha --}}
<div class="gh-articles-list-vertical">
    <div class="gh-articles-list-header">
        <h3 class="gh-articles-list-title">Artículos</h3>
    </div>
    
    <div class="gh-articles-list-container">
        {{#foreach posts}}
            <article class="gh-article-list-item">
                {{#if feature_image}}
                    <div class="gh-article-list-image">
                        <img 
                            src="{{img_url feature_image size="m"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        >
                    </div>
                {{/if}}
                
                <div class="gh-article-list-content">
                    <h4 class="gh-article-list-title">
                        <a href="{{url}}">{{title}}</a>
                    </h4>
                    
                    <div class="gh-article-list-meta">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM"}}</time>
                        {{#if primary_author}}
                            <span class="gh-article-list-author">{{primary_author.name}}</span>
                        {{/if}}
                    </div>
                </div>
            </article>
        {{/foreach}}
    </div>
</div>
