{{!< default}}

<main id="gh-main" class="gh-main">
    {{#if @site.members_enabled}}
        {{#unless @member}}
            <div class="gh-home">
                <div class="gh-home-cta">
                    <header class="gh-home-head">
                        <div class="gh-home-brand">
                            <a class="gh-home-logo" href="{{@site.url}}">
                                {{#if @site.logo}}
                                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                                {{else}}
                                    {{@site.title}}
                                {{/if}}
                            </a>
                            <p class="gh-home-description">{{@site.description}}</p>
                        </div>
                        <button class="gh-search gh-icon-btn" aria-label="{{t "Buscar en el sitio"}}" data-ghost-search>{{> "icons/search"}}</button>
                    </header>

                    <section class="gh-home-subscribe">
                        <h2 class="gh-home-subscribe-title">Suscríbete a Heskala</h2>
                        <p class="gh-home-subscribe-description">Recibe las últimas noticias y actualizaciones</p>
                        <a class="gh-home-subscribe-input" href="#/portal/signup" data-portal="signup">
                            {{t "tu@email.com"}} <span>{{> icons/arrow-right}}</span>
                        </a>
                    </section>

                    <footer class="gh-home-footer">
                        <p class="gh-home-copyright">{{@site.title}} © {{date format="YYYY"}}</p>
                    </footer>
                </div>

                <div class="gh-home-latest">
                    {{> "articles-list-vertical"}}
                </div>
            </div>
        {{else}}
            {{#foreach posts limit="1"}}
                {{> "article"}}
            {{/foreach}}
        {{/unless}}
    {{else}}
        {{#foreach posts limit="1"}}
            {{> "article"}}
        {{/foreach}}
    {{/if}}
</main>
